html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  position: relative;
  margin: 0;
  padding: 0;
}

.application-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: sans-serif;
  font-size: 25px;
  line-height: 50px;
  color: #666;
}

.application-loader > .loader-wrapper {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.application-loader .progress-bar-wrapper {
  display: inline;
}

.application-loader .loader-wrapper {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin-top: 150px;
}

.application-loader .app-progress-bar {
  background-color: #f1f1f1;
  height: 20px;
  padding: 5px;
  width: 450px;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 1px 5px #ccc inset, 0 1px 0 #ddd;
  text-align: left;
  line-height: 10px;
  font-size: 10px;
}

.application-loader .app-progress-bar span {
  background-color: #707070;
  display: inline-block;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  transition: width .4s ease-in-out;
}
